* {
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  tap-highlight-color:transparent;
  -moz-tap-hightlight-color:transparent;
        -webkit-tap-highlight-color:transparent;
    }

.container {
  display: inline-block;
  cursor: pointer;
}
.prof {
  width:60vh;
  margin:auto;
  margin-top:2vh;
  margin-left:3.4vh;
  margin-right:3vh;
  border-radius:50%;
}
.footer {
	color:white;
	background-color:black;
	text-align:center;
	margin-left:-10px;
	font-size:60px
}
.prof_div {
  margin-top:0.6vh;
  margin-bottom:1.5vh;
  text-align:center;
  margin-right:20vh;
  margin-left:30vh;
  width:70vh;
  height:75vh;
}
.prof_div b {
        font-size:40px;
}
.prof_div #name {
        font-size:50px;
}
.err_txt {
	font-size:6vh;
}
.err {
      font-size:30vh;
      transition:0.4s;
 }
 #howto {
 	font-size:5vh;
 }
.containcrds {
	-moz-overflow-scrolling:touch;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        display: flex;
        overflow-x:auto;
        scroll-snap-type: x mandatory;
        position:relative;
        height:100vh;
}
.containcrds::-webkit-scrollbar { width: 0 !important }
.containcrds::-moz-scrollbar { width: 0 !important }
td {
  text-align:center;
  font-size:28px;
  border:2.4px solid White;
}
table {
  width:700px;
  margin-left:170pt;
  font-size:40px;
}
msg {
	font-size:5vh;
}
body {
  overflow-x:hidden;
  height:100%;
  width:100%;
  background-color:Black;
  color:White;
  transition:0.5s;
}
.null {
  text-align:center;
  font-size:150px;
  color:Black;
}
#ico {
  font-size:80vh;
  margin-left:35%;
  color:#2196f3;
}
.head {
  font-size:75pt;
}
h1 {
  text-align:center;
  font-size:25vh;
}
img {
  margin-left:25%;
  width:50%;
  border-radius:50%;
}
.bar-left1 {
  margin-top:10%;
  margin-left:42%;
  transform:rotate(45deg);
}
.alert {
  color:#ff0000;
  width:90vh;
  height:25vh;
  margin-left:28%;
  margin-bottom:9%;
  text-align:center;
  font-size:6vh;
  transition:0.4s;
}
.btn {
  text-align:center;
  font-size:4.5vh;
  height:28vh;
  width:26vh;
  background-color:#2196f6;
  margin-left:45%;
}
.bar-right1 {
  margin-top:-0.85%;
  margin-left:49.96%;
  transform:rotate(-45deg);
}
.bar-left2 {
  margin-top:10%;
  margin-left:42%;
  transform:rotate(45deg);
}
.bar-right2 {
  margin-top:-0.85%;
  margin-left:49.96%;
  transform:rotate(-45deg);
}
.bar {
  background-color:White;
  height:2%;
  width:12%;
  animation:bar-anim 2s infinite;
}
@keyframes bar-anim {
  0% {
	transform:translateY(-100px);
	opacity:0;
  }
  50% {
	opacity:1;
  }
  100% {
	opacity:0;
  }
}
-webkit-@keyframes bar-anim {
  0% {
        transform:translateY(-100px);
        opacity:0;
  }
  50% {
        opacity:1;
  }
  100% {
        opacity:0;
  }
}
-moz-@keyframes bar-anim {
  0% {
        transform:translateY(-100px);
        opacity:0;
  }
  50% {
        opacity:1;
  }
  100% {
        opacity:0;
  }
}
