.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 30px;
  transition: 0.5s;
}
.sidebar a {
  padding-right:8px;
  padding-top:8px;
  padding-bottom:10px;
  padding-left:2px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color:#2196f3;
  color:inherit;
}
