<html>
  <head>
	<meta content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" name="viewport">
	<title>Kernel Request | NetEnrels</title>
	{% if request.MOBILE %}
		<link rel="stylesheet" href="{{ url_for('static',filename='css/mobile/style.css')}}">
		<link rel="stylesheet" href="{{ url_for('static',filename='css/mobile/sidebar.css')}}">
		<link rel="stylesheet" href="{{ url_for('static',filename='css/mobile/menu.css')}}">
		<link rel="stylesheet" href="{{ url_for('static',filename='css/mobile/slider.css')}}">
		<link rel="stylesheet" href="{{ url_for('static',filename='css/mobile/request.css')}}">
	{% else %}
		<link rel="stylesheet" href="{{ url_for('static',filename='css/desktop/style.css')}}">
		<link rel="stylesheet" href="{{ url_for('static',filename='css/desktop/menu.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/desktop/slider.css')}}">
                <link rel="stylesheet" href="{{ url_for('static',filename='css/desktop/sidebar.css')}}">
                <link rel="stylesheet" href="{{ url_for('static',filename='css/desktop/request.css')}}">
	{% endif %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
  </head>
  <body id="index">
  <div id="mySidebar" class="sidebar">
         <a onclick="window.open('/','_self');">Home</a>
          <a onclick="window.open('/download','_self');">Downloads</a>
          <a onclick="window.open('/kernel','_self');">Kernel Request</a>
          <a onclick="window.open('/howto','_self');">How to Install</a>
        </div>
        <br>
        <div style="margin-right:6%;text-align:right">
        <div class="container" onclick="myFunction(this)">
          <div id="bar1" class="bar1"></div>
          <div id="bar2" class="bar2"></div>
          <div id="bar3"  class="bar3"></div>
        </div>
        </div>
	<br>
	<h1>  NetErnels</h1>
	<div class="req_ele">
	  <br> 
	  Device Name:<input id="name" name="name"><br><br>
	  <br>
	  Device Codename:<input id="code" name="code"><br><br>
	  <br>
	  Telegram Username:<input id="tgu" name="tgu"><br><br>
	  <br>
	  Shipped Kernel Version:<input id="kv" name="kv"><br><br>
	  <br>
	  Kernel Source Code Link:<textarea id="link" name="link"></textarea><br><br>
	  <br>
	  Android Version:<input id="ver" name="ver"><br><br>
	  <br>
	  <div id="alert" style="opacity:0" class="alert"><br>Please fill all of the boxes with valid info and try again !<br><br></div>
	  <div onclick=check() style="border-radius:25px"  class="btn"><div><br><br>Send<br><br></div></div></div>
	</div>
	<br><br>
	<br><br>
	  <div class="swi_con">

          Dark&ensp;<label class="switch"><input id="darrk" onclick=dark_switch() type="checkbox">
                <span class="slider round"></span>
          </label>&ensp;Light
        </div>
        <br><br><br><br>
        <div class="footer">
                <br><br>&emsp;&emsp;<i class="fa fa-telegram" onclick="window.open('https://t.me/neternels_chat');"></i>&emsp;&emsp;
                <i class="fa fa-gitlab" onclick="window.open('https://www.gitlab.com/neternels');"></i>&emsp;&emsp;
                <i class="fa fa-github" onclick="window.open('https://www.github.com/neternels');"></i>&emsp;&emsp;
                <br><br>
  </body>
  <script>
  var li=["name","code","tgu","kv","link","ver"];
  var i;
    function check() {
	li1=document.getElementById(li[0]).value;
	li2=document.getElementById(li[1]).value;
	li3=document.getElementById(li[2]).value;
        li4=document.getElementById(li[3]).value;
	li5=document.getElementById(li[4]).value;
        li6=document.getElementById(li[5]).value;
	if (li1 != "" && li2 != "" && li3 != "" && li4 != "" && li5 != "" && li6 != "" && li2.length < 20 && li4.length < 10 && li6.length < 3) {
	    document.getElementById("alert").style.opacity="0";
	    lnk="http://127.0.0.1:5000/request?name="+li1+"&code="+li2+"&tgu="+li3+"&kv="+li4+"&link="+li5+"&ver="+li6;
	    window.open(lnk);
	} else {
	    document.getElementById("alert").style.opacity="1";
	}
    }
   </script>
  <script>
  var viewport = document.querySelector("meta[name=viewport]");
  viewport.setAttribute("content", viewport.content + ", height=" + window.innerHeight);
  </script>
  <script>
  var i=0;
function myFunction(x) {
  i=i+1;
  if (i%2 != 0) {
        document.getElementById("mySidebar").style.width = "150px";
        document.getElementById("bar1").style.transform="rotate(-45deg) translate(-9px, 6px)";
        document.getElementById("bar2").style.transform="translateX(-150px)";
        document.getElementById("bar2").style.opacity="0";
        document.getElementById("bar3").style.transform="rotate(45deg) translate(-8px, -8px)";
  } else {
        document.getElementById("mySidebar").style.width = "0px";
        document.getElementById("bar1").style.transform="rotate(0deg) translate(0px, 0px)";
        document.getElementById("bar2").style.transform="translateX(0px)";
        document.getElementById("bar2").style.opacity="1";
        document.getElementById("bar3").style.transform="rotate(0deg) translate(0px, 0px)";

  }

  }
  </script>
  <script>
  var local=window.localStorage;
function dark(n) {
        if (n%2==0) {
                document.getElementById("mySidebar").style.backgroundColor="fff";
                document.querySelectorAll("a")[0].style.color="000";
                document.querySelectorAll("a")[1].style.color="000";
                document.querySelectorAll("a")[2].style.color="000";
                document.querySelectorAll("a")[3].style.color="000";
                document.getElementById("darrk").checked=false;
                document.body.style.backgroundColor="000000";
                document.getElementById("index").style.color="fff";
                document.getElementById("bar1").style.backgroundColor="fff";
                document.getElementById("bar2").style.backgroundColor="fff";
                document.getElementById("bar3").style.backgroundColor="fff";
                document.getElementById("name").style.backgroundColor="fff";
                document.getElementById("name").style.color="000";
                document.getElementById("code").style.backgroundColor="fff";
                document.getElementById("code").style.color="000";
                document.getElementById("kv").style.backgroundColor="fff";
                document.getElementById("kv").style.color="000";
                document.getElementById("tgu").style.backgroundColor="fff";
                document.getElementById("tgu").style.color="000";
                document.getElementById("link").style.backgroundColor="fff";
                document.getElementById("link").style.color="000";
                document.getElementById("ver").style.backgroundColor="fff";
                document.getElementById("ver").style.color="000";
                local.removeItem("theme");
                local.setItem("theme","dark");
        } else {
                document.getElementById("mySidebar").style.backgroundColor="000000";
                document.querySelectorAll("a")[0].style.color="ffffff";
                document.querySelectorAll("a")[1].style.color="ffffff";
                document.querySelectorAll("a")[2].style.color="ffffff";
                document.querySelectorAll("a")[3].style.color="ffffff";
                document.getElementById("darrk").checked=true;
                document.body.style.backgroundColor="ffffff";
                document.getElementById("index").style.color="000000";
                document.getElementById("bar1").style.backgroundColor="000000";
                document.getElementById("bar2").style.backgroundColor="000000";
                document.getElementById("bar3").style.backgroundColor="000000"
                document.getElementById("name").style.backgroundColor="000";
                document.getElementById("name").style.color="fff";
                document.getElementById("code").style.backgroundColor="000";
                document.getElementById("code").style.color="fff";
                document.getElementById("kv").style.backgroundColor="000";
                document.getElementById("kv").style.color="fff";
                document.getElementById("tgu").style.backgroundColor="000";
                document.getElementById("tgu").style.color="fff";
                document.getElementById("link").style.backgroundColor="000";
                document.getElementById("link").style.color="fff";
                document.getElementById("ver").style.backgroundColor="000";
                document.getElementById("ver").style.color="fff";
                local.removeItem("theme");
                local.setItem("theme","light");
        }
}

function dark_switch() {
        i=i+1;
        dark(i);
}
function dark_check() {
        var theme=local.getItem("theme");
        if (theme=="dark") {
                dark(2);
        } else {
                dark(1);
        }
}
window.onload=function() {dark_check()};
  </script>
</html>

